<aside class="aside">
  <blockquote class="aside__quote">
    <img
      class="aside__quote-run-icon"
      src="../img/run.png"
      alt="Decorative icon in form of a running man"
    />
    <h3 class="aside__quote-head">Quote of the day</h3>
    <p class="aside__quote-text">
      A lot of times I find that people who are blessed with the most talent
      don't ever develop that attitude, and the ones who aren't blessed in that
      way are the most competitive and have the biggest heart.
    </p>
    <cite class="aside__quote-author">Tom Brady</cite>
    <img
      class="aside__quote-commas-icon"
      src="../img/commas.png"
      alt="Decorative icon in form of two inverted commas"
    />
  </blockquote>
  <img
    class="aside-img"
    src="../img/info-img.png"
    alt="Two happy women talking to each other after a training"
  />
  <div class="aside__news">
    <img class="aside__news-icon" src="../img/news.png" alt="News icon" />
    <h3 class="aside__news-head">110 min</h3>
    <h4 class="aside__news-sub">Daily norm of sports</h4>
    <p class="aside__news-text">
      The World Health Organization recommends at least 150 minutes of
      moderate-intensity aerobic physical activity throughout the week for
      adults aged 18-64. However, what happens if we adjust that number to 110
      minutes every day? While it might seem like a high number to hit,
      dedicating 110 minutes daily to sporting activities may offer unparalleled
      benefits to physical health, mental well-being, and overall quality of
      life.
    </p>
  </div>
</aside>
