<aside class="aside">
  <div class="aside__quote-wrapper">
    <load src="partials/quote.html" />
  </div>
  <img
    class="aside-img"
    src="img/info-img.png"
    alt="Two happy women talking to each other after a training"
  />
  <div class="aside__news">
    <img class="aside__news-icon" src="img/news.png" alt="News icon" />
    <h3 class="aside__news-head">110 min</h3>
    <h4 class="aside__news-sub">Daily norm of sports</h4>
    <p class="aside__news-text">
      The World Health Organization recommends at least 150 minutes of
      moderate-intensity aerobic physical activity throughout the week for
      adults aged 18-64. However, what happens if we adjust that number to 110
      minutes every day? While it might seem like a high number to hit,
      dedicating 110 minutes daily to sporting activities may offer unparalleled
      benefits to physical health, mental well-being, and overall quality of
      life.
    </p>
  </div>
</aside>
