<section class="exercises">
  <div class="exercises__container">
    <h2 class="exercises__header">Exercises</h2>
    <div class="exercises__search" hidden>
      <input
        class="exercises__search-input"
        type="search"
        placeholder="Search"
        id="search"
      />
    </div>
    <ul class="exercises__filters">
      <li
        class="exercises__filter exercises__filter--active"
        data-filter="Muscles"
      >
        Muscles
      </li>
      <li class="exercises__filter" data-filter="Body%20parts">Body parts</li>
      <li class="exercises__filter" data-filter="Equipment">Equipment</li>
    </ul>
    <ul class="exercises__cards"></ul>
    <ul class="exercises-workout__cards" hidden></ul>
    <div class="exercises__pagination-btns">
      <!-- <button
        class="exercises__pagination-btn exercises__pagination-btn--active"
      >
        1
      </button>
      <button class="exercises__pagination-btn">2</button> -->
    </div>
    <load src="partials/aside.html" />
  </div>
</section>
