<section class="exercises">
  <div class="exercises__container">
    <h2 class="exercises__header">Exercises</h2>
    <ul class="exercises__filters">
      <li class="exercises__filter exercises__filter--active">Muscles</li>
      <li class="exercises__filter">Body parts</li>
      <li class="exercises__filter">Equipment</li>
    </ul>
    <ul class="exercises__cards"></ul>
    <div class="exercises__pagination-btns">
      <button
        class="exercises__pagination-btn exercises__pagination-btn--active"
      >
        1
      </button>
      <button class="exercises__pagination-btn">2</button>
    </div>
    <div class="exercises__info">
      <blockquote class="exercises__quote">
        <img
          class="exercises__quote-run-icon"
          src="../img/run.png"
          alt="Decorative icon in form of a running man"
        />
        <h3 class="exercises__quote-head">Quote of the day</h3>
        <p class="exercises__quote-text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <cite class="exercises__quote-author">Tom Brady</cite>
        <img
          class="exercises__quote-commas-icon"
          src="../img/commas.png"
          alt="Decorative icon in form of two inverted commas"
        />
      </blockquote>
      <img
        class="exercises__info-img"
        src="../img/info-img.png"
        alt="Two happy women talking to each other after a training"
      />
      <div class="exercises__news">
        <img
          class="exercises__news-icon"
          src="../img/news.png"
          alt="News icon"
        />
        <h3 class="exercises__news-head">110 min</h3>
        <h4 class="exercises__news-sub">Daily norm of sports</h4>
        <p class="exercises__news-text">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </p>
      </div>
    </div>
  </div>
</section>
