<section class="exercises">
  <div class="exercises__container">
    <h2 class="exercises__header">Exercises</h2>
    <ul class="exercises__filters">
      <li class="exercises__filter exercises__filter--active">Muscles</li>
      <li class="exercises__filter">Body parts</li>
      <li class="exercises__filter">Equipment</li>
    </ul>
    <ul class="exercises__cards"></ul>
    <div class="exercises__pagination-btns">
      <button class="exercises__pagination-btn exercises__pagination-arrow-btn">
        &lt;&lt;
      </button>
      <!-- <button
        class="exercises__pagination-btn exercises__pagination-btn--active"
      >
        1
      </button>
      <button class="exercises__pagination-btn">2</button> -->
    </div>
    <load src="partials/aside.html" />
  </div>
</section>
