<section class="favorites-hero">
  <h1 class="favorites-hero__head">Favorites</h1>
  <div class="favorites-hero__quote-wrapper">
    <load src="/partials/quote.html" />
  </div>
  <div class="favorites-hero__fact">
    <img class="favorites-hero__fact-icon" src="img/fact-icon.svg" alt="" />
    <h2 class="favorites-hero__fact-h2">110 min</h2>
    <p class="favorites-hero__fact-p">Daily norm of sports</p>
  </div>
  <img class="favorites-hero__img" src="img/favorites-hero-img.png" alt="" />
</section>
