<header class="header">
  <div class="header__container container">
    <img
      class="header__logo"
      src="img/logo.png"
      srcset="img/logo.png 1x, img/logo@2x.png 2x"
      alt="logo text your energy"
    />
    <div class="header__menu-wrapper">
      <load src="partials/main-menu.html" />
    </div>
    <div class="header__socials">
      <load src="partials/socials.html" />
    </div>
    <button class="header__menu-btn">
      <img class="header__icon" src="img/menu-icon.png" alt="menu icon" />
    </button>
  </div>
</header>
