<section class="hero">
  <div class="hero__container">
    <div class="hero__header">
      <h1 class="hero__header-h1">
        Get <i>Body</i> in<br />
        shape, Stay healthy
      </h1>
    </div>
    <p class="hero__p">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>
    <img
      class="hero__image"
      src="img/hero-image.png"
      alt="An image presenting to women doing sport"
    />
    <img
      class="hero__image-mini"
      src="img/hero-image-mini.png"
      alt="An image presenting to women doing sport"
    />
    <ul class="hero__hashtags">
      <li class="hero__hashtag-item">#Sport</li>
      <li class="hero__hashtag-item">#Healthy</li>
      <li class="hero__hashtag-item">#Workout</li>
      <li class="hero__hashtag-item">#Diet</li>
    </ul>
  </div>
</section>
