<div class="pop-up">
  <button class="pop-up__close-btn"></button>

  <div class="pop-up__img-wrapper">
    <img class="pop-up__img" src="" alt="Loading..." />
  </div>
  <div class="pop-up__info-wrapper">
    <h2 class="pop-up__h2"></h2>
    <div class="pop-up__grade">
      <p class="pop-up__grade-value"></p>

      <img class="pop-up__grade-star" src="./img/star.svg" alt="Star" />
      <img class="pop-up__grade-star" src="./img/star.svg" alt="Star" />
      <img class="pop-up__grade-star" src="./img/star.svg" alt="Star" />
      <img class="pop-up__grade-star" src="./img/star.svg" alt="Star" />
      <img class="pop-up__grade-star" src="./img/star.svg" alt="Star" />
    </div>
    <div class="pop-up__metrics">
      <div class="pop-up__metrics-item">
        <h3 class="pop-up__metrics-h3">Target</h3>
        <p class="pop-up__metrics-p" data-key="target"></p>
      </div>
      <div class="pop-up__metrics-item">
        <h3 class="pop-up__metrics-h3">Body Part</h3>
        <p class="pop-up__metrics-p" data-key="bodyPart"></p>
      </div>
      <div class="pop-up__metrics-item">
        <h3 class="pop-up__metrics-h3">Equipment</h3>
        <p class="pop-up__metrics-p" data-key="equipment"></p>
      </div>
      <div class="pop-up__metrics-item">
        <h3 class="pop-up__metrics-h3">Popular</h3>
        <p class="pop-up__metrics-p" data-key="popularity"></p>
      </div>
      <div class="pop-up__metrics-item">
        <h3 class="pop-up__metrics-h3">Burned Calories</h3>
        <p class="pop-up__metrics-p" data-key="burnedCalories"></p>
      </div>
    </div>
    <div class="pop-up__summary"></div>
    <div class="pop-up__btn-wrapper">
      <button class="pop-up__btn pop-up__btn-fav">
        Add to favorites
        <img
          class="pop-up__btn-fav-img"
          src="./img/heart.svg"
          alt="Heart icon"
        />
      </button>
      <button class="pop-up__btn pop-up__btn-rating">Give a rating</button>
    </div>
  </div>
  <!-- <div class="pop-up__rating">
    <p class="pop-up__rating-label">Rating</p>
  </div> -->
</div>
