<blockquote class="quote">
  <img
    class="quote-run-icon"
    src="img/run.png"
    alt="Decorative icon in form of a running man"
  />
  <h3 class="quote-head">Quote of the day</h3>
  <p class="quote-text">
    A lot of times I find that people who are blessed with the most talent don't
    ever develop that attitude, and the ones who aren't blessed in that way are
    the most competitive and have the biggest heart.
  </p>
  <cite class="quote-author">Tom Brady</cite>
  <img
    class="quote-commas-icon"
    src="img/commas.png"
    alt="Decorative icon in form of two inverted commas"
  />
</blockquote>
