<ul class="socials">
  <li class="socials-item">
    <a
      href="https://www.facebook.com/goITclub/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="socials-item-img"
        src="../img/facebook.svg"
        alt="Facebook link icon"
      />
    </a>
  </li>
  <li class="socials-item">
    <a
      href="https://www.instagram.com/goitclub/?hl=en"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="socials-item-img"
        src="../img/instagram.svg"
        alt="Instagram link icon"
      />
    </a>
  </li>
  <li class="socials-item">
    <a
      href="https://www.youtube.com/GoIT"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="socials-item-img"
        src="../img/youtube.svg"
        alt="YouTube link icon"
      />
    </a>
  </li>
</ul>
