.aside {
  display: grid;
  gap: 5.45cqw; /* 20px -> 5.45cqw */
}

.aside__quote-wrapper {
  display: flex;
}

.aside-img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.aside__news {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  padding: 5.45cqw 5.45cqw 5.45cqw 19.62cqw; /* 20px -> 5.45cqw, 72px -> 19.62cqw */
  border-radius: 20px;
}

.aside__news-icon {
  width: 9cqw;
  position: absolute;
  left: 5.45cqw; /* 20px -> 5.45cqw */
  top: 5.45cqw; /* 20px -> 5.45cqw */
}

.aside__news-head {
  font-weight: 500;
  font-size: 5.45cqw; /* 20px -> 5.45cqw */
  line-height: 5.45cqw; /* 20px -> 5.45cqw */
  margin-bottom: 8px;
  color: var(--main-color-dark);
}

.aside__news-sub {
  color: var(--side-color-dark);
  margin-bottom: 4.36cqw; /* 16px -> 4.36cqw */
}

.aside__news-text {
  color: var(--main-color-dark);
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 368px) {
  .aside {
    margin-top: 8.33cqw; /* 64px -> 8.33cqw */
    grid-template-columns: 52cqw 1fr;
    gap: 4.17cqw 2.08cqw; /* 32px -> 4.17cqw, 16px -> 2.08cqw */

    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .aside__quote {
    padding: 5.21cqw 5.21cqw 5.21cqw 11.72cqw; /* 40px -> 5.21cqw, 90px -> 11.72cqw */
  }

  .aside__quote-run-icon {
    left: 5.21cqw; /* 40px -> 5.21cqw */
    top: 5.21cqw; /* 40px -> 5.21cqw */
    width: 5.08cqw;
  }

  .aside__quote-commas-icon {
    width: 3.13cqw; /* 24px -> 3.13cqw */
    top: 5.21cqw; /* 40px -> 5.21cqw */
    right: 5.21cqw; /* 40px -> 5.21cqw */
  }

  .aside-img {
    height: 100%;
  }

  .aside__quote-head {
    font-size: 3.13cqw; /* 24px -> 3.13cqw */
    line-height: 4.17cqw; /* 32px -> 4.17cqw */
  }

  .aside__quote-author {
    font-size: 2.08cqw; /* 16px -> 2.08cqw */
    line-height: 3.13cqw; /* 24px -> 3.13cqw */
  }

  .aside__news {
    padding: 5.21cqw 5.21cqw 5.21cqw 11.72cqw; /* 40px -> 5.21cqw, 90px -> 11.72cqw */
  }

  .aside__news-icon {
    left: 5.21cqw; /* 40px -> 5.21cqw */
    top: 5.21cqw; /* 40px -> 5.21cqw */
    width: 5.08cqw;
  }

  .aside__news-head {
    font-size: 3.13cqw; /* 24px -> 3.13cqw */
    line-height: 4.17cqw; /* 32px -> 4.17cqw */
  }

  .aside__news-sub {
    margin-bottom: 2.6cqw; /* 20px -> 2.60cqw */
  }
}

@media (min-width: 769px) {
  .aside {
    margin-top: unset;
    grid-template-columns: 1fr;
    gap: 2.22cqw;
    align-self: start;

    grid-row: 2;
    grid-column: 1;
  }

  .aside__quote {
    padding: 2.78cqw 2.78cqw 2.78cqw 6.25cqw;
    box-sizing: border-box;
    min-height: 16.81cqw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: left; */
  }

  .aside__quote-run-icon {
    left: 2.78cqw;
    top: 2.78cqw;
    width: 2.36cqw;
  }

  .aside__quote-commas-icon {
    width: 1.67cqw;
    top: 2.78cqw;
    right: 2.78cqw;
  }

  .aside-img {
    height: 20.83cqw;
  }

  .aside__quote-head {
    font-size: 1.67cqw;
    line-height: 2.22cqw;
    margin-bottom: 0.42cqw;
  }

  .aside__quote-text {
    margin-bottom: 0.56cqw;
  }

  .aside__quote-author {
    font-size: 1.11cqw;
    line-height: 1.67cqw;
  }

  .aside__news {
    padding: 2.78cqw 2.78cqw 2.78cqw 6.25cqw;
  }

  .aside__news-icon {
    left: 2.78cqw;
    top: 2.78cqw;
    width: 2.36cqw;
  }

  .aside__news-head {
    font-size: 1.67cqw;
    line-height: 2.22cqw;
  }

  .aside__news-sub {
    margin-bottom: 1.39cqw;
  }
}
