:root {
  --main-color-light: rgba(244, 244, 244, 1);
  --side-color-light: rgba(244, 244, 244, 0.6);
  --main-color-dark: rgba(36, 36, 36, 1);
  --side-color-dark: rgba(36, 36, 36, 0.6);
}

body {
  background-color: var(--main-color-light);
  color: var(--main-color-light);
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  z-index: 1;
}

i {
  font-style: italic;
}

.container {
  padding: 0 20px 0;
}

.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal--hidden {
  display: none;
}
