:root {
  --main-color-light: rgba(244, 244, 244, 1);
  --side-color-light: rgba(244, 244, 244, 0.6);
  --main-color-dark: rgba(36, 36, 36, 1);
  --side-color-dark: rgba(36, 36, 36, 0.6);
}

body {
  background-color: var(--main-color-light);
  color: var(--main-color-light);
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  z-index: 1;
}

i {
  font-style: italic;
}

.container {
  padding: 0 5.45cqw 0; /* 20px -> 5.45cqw */
  margin: 0 auto;
  max-width: 367px;
  container-type: inline-size;
}

.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal--hidden {
  display: none;
}

@media (min-width: 368px) {
  .container {
    padding: 0 4.17cqw 0; /* 32px -> 4.17cqw */
    max-width: 768px;
  }
}

@media (min-width: 769px) {
  .container {
    padding: 0 2.22cqw 0;
    max-width: 1440px;
  }
}
