.exercises__container {
  padding-top: 10.9cqw; /* 40px -> 10.90cqw */
  padding-bottom: 21.8cqw; /* 80px -> 21.80cqw */
  display: grid;
  gap: 5.45cqw; /* 20px -> 5.45cqw */
}

.exercises__header {
  font-size: 7.63cqw; /* 28px -> 7.63cqw */
  line-height: 10.35cqw; /* 38px -> 10.35cqw */
  letter-spacing: -2%;
  color: var(--main-color-dark);
}

.exercises__filters {
  width: 63%;
  display: flex;
  justify-content: space-between;
}

.exercises__filter {
  position: relative;
  font-size: 3.81cqw; /* 14px -> 3.81cqw */
  line-height: 5.45cqw; /* 20px -> 5.45cqw */
  color: var(--side-color-dark);
  cursor: pointer;
}

.exercises__filter--active {
  color: var(--main-color-dark);
}

.exercises__filter--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2.18cqw; /* -8px -> -2.18cqw */
  width: 100%;
  height: 1.09cqw; /* 4px -> 1.09cqw */
  background-color: currentColor;
  border-radius: 0.54cqw; /* 2px -> 0.54cqw */
}

.exercises__cards {
  display: grid;
  gap: 5.45cqw; /* 20px -> 5.45cqw */
}

.exercises__card {
  aspect-ratio: 1 / 0.67;
  border-radius: 3.27cqw; /* 12px -> 3.27cqw */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.54cqw; /* 2px -> 0.54cqw */
}

.exercises__card-name {
  font-size: 5.45cqw; /* 20px -> 5.45cqw */
  line-height: 5.45cqw; /* 20px -> 5.45cqw */
}

.exercises__card-filter {
  color: rgba(244, 244, 244, 0.4);
}

.exercises__pagination-btns {
  display: flex;
  gap: 8px;
  justify-self: center;
}

.exercises__pagination-btn {
  font-size: 5.45cqw; /* 20px -> 5.45cqw */
  line-height: 5.45cqw; /* 20px -> 5.45cqw */
  color: rgba(212, 212, 212, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.exercises__pagination-btn--active {
  color: var(--main-color-dark);
  border: 0.27cqw solid currentColor; /* 1px -> 0.27cqw */
  border-radius: 50%;
  height: 8.44cqw;
  width: 8.44cqw;
}

@media (min-width: 368px) {
  .exercises__container {
    padding-top: 8.33cqw; /* 64px -> 8.33cqw */
    padding-bottom: 13.02cqw; /* 100px -> 13.02cqw */
    gap: 4.17cqw; /* 32px -> 4.17cqw */
  }

  .exercises__header {
    font-size: 5.73cqw; /* 44px -> 5.73cqw */
    line-height: 6.25cqw; /* 48px -> 6.25cqw */
  }

  .exercises__filters {
    width: auto;
    justify-content: left;
    gap: 2.6cqw; /* 20px -> 2.60cqw */
  }

  .exercises__filter {
    font-size: 2.08cqw; /* 16px -> 2.08cqw */
    line-height: 3.13cqw; /* 24px -> 3.13cqw */
  }

  .exercises__filter--active::after {
    bottom: -1.04cqw; /* -8px -> -1.04cqw */
    height: 0.52cqw; /* 4px -> 0.52cqw */
    border-radius: 0.26cqw; /* 2px -> 0.26cqw */
  }

  .exercises__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 4.17cqw 1.95cqw; /* 32px -> 4.17cqw, 15px -> 1.95cqw */
  }

  .exercises__card {
    width: 29.3cqw; /* 225px -> 29.30cqw */
    border-radius: 1.56cqw; /* 12px -> 1.56cqw */
  }

  .exercises__card-name {
    font-size: 3.13cqw; /* 24px -> 3.13cqw */
    line-height: 3.13cqw; /* 24px -> 3.13cqw */
  }

  .exercises__pagination-btn {
    font-size: 3.13cqw; /* 24px -> 3.13cqw */
    line-height: 4.17cqw; /* 32px -> 4.17cqw */
    width: 4.17cqw; /* 32px -> 4.17cqw */
    height: 4.17cqw; /* 32px -> 4.17cqw */
  }
}
