.exercises__container {
  padding-top: 10.9vw; /* 40px -> 10.90vw */
  padding-bottom: 21.8vw; /* 80px -> 21.80vw */
  display: grid;
  gap: 5.45vw; /* 20px -> 5.45vw */
}

.exercises__header {
  font-size: 7.63vw; /* 28px -> 7.63vw */
  line-height: 10.35vw; /* 38px -> 10.35vw */
  letter-spacing: -2%;
  color: var(--main-color-dark);
}

.exercises__filters {
  width: 63%;
  display: flex;
  justify-content: space-between;
}

.exercises__filter {
  position: relative;
  font-size: 3.81vw; /* 14px -> 3.81vw */
  line-height: 5.45vw; /* 20px -> 5.45vw */
  color: var(--side-color-dark);
  cursor: pointer;
}

.exercises__filter--active {
  color: var(--main-color-dark);
}

.exercises__filter--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2.18vw; /* -8px -> -2.18vw */
  width: 100%;
  height: 1.09vw; /* 4px -> 1.09vw */
  background-color: currentColor;
  border-radius: 0.54vw; /* 2px -> 0.54vw */
}

.exercises__cards {
  display: grid;
  gap: 5.45vw; /* 20px -> 5.45vw */
}

.exercises__card {
  aspect-ratio: 1 / 0.67;
  border-radius: 3.27vw; /* 12px -> 3.27vw */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.54vw; /* 2px -> 0.54vw */
}

.exercises__card-name {
  font-size: 5.45vw; /* 20px -> 5.45vw */
  line-height: 5.45vw; /* 20px -> 5.45vw */
}

.exercises__card-filter {
  color: rgba(244, 244, 244, 0.4);
}

.exercises__pagination-btns {
  display: flex;
  gap: 8px;
  justify-self: center;
}

.exercises__pagination-btn {
  font-size: 5.45vw; /* 20px -> 5.45vw */
  line-height: 5.45vw; /* 20px -> 5.45vw */
  color: rgba(212, 212, 212, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.exercises__pagination-btn--active {
  color: var(--main-color-dark);
  border: 1px solid currentColor; /* 1px -> 0.27vw */
  border-radius: 50%;
  height: 8.44vw;
  width: 8.44vw;
}

@media (min-width: 368px) {
  .exercises__container {
    padding-top: 8.33vw; /* 64px -> 8.33vw */
    padding-bottom: 13.02vw; /* 100px -> 13.02vw */
    gap: 4.17vw; /* 32px -> 4.17vw */
  }

  .exercises__header {
    font-size: 5.73vw; /* 44px -> 5.73vw */
    line-height: 6.25vw; /* 48px -> 6.25vw */
  }

  .exercises__filters {
    width: auto;
    justify-content: left;
    gap: 2.6vw; /* 20px -> 2.60vw */
  }

  .exercises__filter {
    font-size: 2.08vw; /* 16px -> 2.08vw */
    line-height: 3.13vw; /* 24px -> 3.13vw */
  }

  .exercises__filter--active::after {
    bottom: -1.04vw; /* -8px -> -1.04vw */
    height: 0.52vw; /* 4px -> 0.52vw */
    border-radius: 0.26vw; /* 2px -> 0.26vw */
  }

  .exercises__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 4.17vw 1.95vw; /* 32px -> 4.17vw, 15px -> 1.95vw */
  }

  .exercises__card {
    width: 29.3vw; /* 225px -> 29.30vw */
    border-radius: 1.56vw; /* 12px -> 1.56vw */
  }

  .exercises__card-name {
    font-size: 3.13vw; /* 24px -> 3.13vw */
    line-height: 3.13vw; /* 24px -> 3.13vw */
  }

  .exercises__pagination-btn {
    font-size: 3.13vw; /* 24px -> 3.13vw */
    line-height: 4.17vw; /* 32px -> 4.17vw */
    width: 4.17vw; /* 32px -> 4.17vw */
    height: 4.17vw; /* 32px -> 4.17vw */
  }
}
