.exercises__container {
  padding-top: 40px;
  padding-bottom: 80px;
  display: grid;
  gap: 20px;
}

.exercises__header {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -2%;
  color: var(--main-color-dark);
}

.exercises__filters {
  width: 63%;
  display: flex;
  justify-content: space-between;
}

.exercises__filter {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: var(--side-color-dark);
  cursor: pointer;
}

.exercises__filter--active {
  color: var(--main-color-dark);
}

.exercises__filter--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

.exercises__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exercises__card {
  aspect-ratio: 1 / 0.67;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.exercises__card-name {
  font-size: 20px;
  line-height: 20px;
}

.exercises__card-filter {
  color: rgba(244, 244, 244, 0.4);
}

.exercises__pagination-btns {
  display: flex;
  gap: 8px;
  justify-self: center;
}

.exercises__pagination-btn {
  font-size: 20px;
  line-height: 20px;
  color: rgba(212, 212, 212, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.exercises__pagination-btn--active {
  color: var(--main-color-dark);
  border: 1px solid currentColor;
  border-radius: 50%;
}

.exercises__info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.exercises__quote {
  position: relative;
  background-color: var(--main-color-dark);
  padding: 20px 20px 20px 72px;
  border-radius: 20px;
}

.exercises__quote-run-icon {
  width: 34px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.exercises__quote-commas-icon {
  width: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.exercises__quote-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 8px;
}

.exercises__quote-text {
  color: var(--side-color-light);
  margin-bottom: 16px;
}

.exercises__info-img {
  border-radius: 20px;
  width: 100%;
}

.exercises__news {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px 20px 20px 72px;
  border-radius: 20px;
}

.exercises__news-icon {
  width: 34px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.exercises__news-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 8px;
  color: var(--main-color-dark);
}

.exercises__news-sub {
  color: var(--side-color-dark);
  margin-bottom: 16px;
}

.exercises__news-text {
  color: var(--main-color-dark);
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
