.favorites-saved {
  padding-bottom: 80px; /* 80px */

  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 20px */
}

.favorites-saved__p {
  font-size: 14px; /* 14px */
  line-height: 18px; /* 18px */
  text-align: center;
  color: var(--main-color-dark);
}

.favorites__remove {
  width: 12px; /* 12px */
  margin-top: 6px; /* 6px */
}

.favorites__card {
  width: 100%;
  min-height: 141px;
  padding: 16px; /* 16px */
  color: var(--main-color-dark);
  border-radius: 15px; /* 15px */
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 92px auto auto; /* 92px */
}

@media (min-width: 768px) {
  .favorites-saved {
    padding-bottom: unset;

    gap: 16px;
  }

  .favorites-saved__p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 132px;
    margin-bottom: 187px;
    margin: 132px 107px 187px;
  }

  .favorites__remove {
    width: 16px;
    margin-top: 6px;
    margin-left: 8px;
  }

  .favorites__card {
    width: 344px;
    min-height: 141px;
    padding: 16px;
    border-radius: 15px;

    grid-template-columns: 76px auto auto;
  }
}

@media (min-width: 1440px) {
  .favorites-saved {
    width: 806px;
    margin-top: 166px;
    margin-bottom: 63px;
    max-height: 487px;
    overflow: auto;
    scrollbar-width: 8px;
    scrollbar-color: var(--main-color-dark);

    gap: 16px;
    align-self: end;
  }

  .favorites-saved::-webkit-scrollbar {
    width: 8px;
  }

  .favorites-saved::-webkit-scrollbar-thumb {
    background-color: var(--main-color-dark);
    border-radius: 12px;
  }

  .favorites-saved__p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 132px;
    margin-bottom: 187px;
    margin: 132px 107px 187px;
  }

  .favorites__remove {
    width: 16px;
    margin-top: 6px;
    margin-left: 8px;
  }

  .favorites__card {
    width: 27.53cqw;
    min-height: 141px;
    padding: 16px;
    border-radius: 15px;

    grid-template-columns: 76px auto auto;
  }
}
