.favorites-saved {
  padding-bottom: 21.79cqw; /* 80px -> 21.79cqw (367px container) */

  display: flex;
  flex-wrap: wrap;
  gap: 5.45cqw; /* 20px -> 5.45cqw (367px container) */
}

.favorites-saved__p {
  font-size: 3.82cqw; /* 14px -> 3.82cqw (367px container) */
  line-height: 4.9cqw; /* 18px -> 4.90cqw (367px container) */
  text-align: center;
  color: var(--main-color-dark);
}

.favorites__remove {
  width: 3.27cqw; /* 12px -> 3.27cqw (367px container) */
  margin-top: 1.64cqw; /* 6px -> 1.64cqw (367px container) */
}

.favorites__card {
  width: 100%;
  height: 38.43cqw; /* 141px -> 38.43cqw (367px container) */
  padding: 4.36cqw; /* 16px -> 4.36cqw */
  color: var(--main-color-dark);
  border-radius: 4.09cqw; /* 15px -> 4.09cqw */
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 25.07cqw auto auto; /* 92px -> 25.07cqw */
}

@media (min-width: 368px) {
  .favorites-saved {
    padding-bottom: unset;

    gap: 2.08cqw; /* 16px -> 2.08cqw (768px container) */
  }

  .favorites-saved__p {
    font-size: 1.82cqw; /* 14px -> 1.82cqw (768px container) */
    line-height: 2.34cqw; /* 18px -> 2.34cqw (768px container) */
    margin-top: 17.19cqw; /* 132px -> 17.19cqw (768px container) */
    margin-bottom: 24.35cqw; /* 187px -> 24.35cqw (768px container) */
    margin: 17.19cqw 13.92cqw 24.35cqw; /* 132px 107px 187px (768px container) */
  }

  .favorites__remove {
    width: 1.56cqw; /* 12px -> 1.56cqw (768px container) */
    margin-top: 0.78cqw; /* 6px -> 0.78cqw (768px container) */
    margin-left: 1.04cqw; /* 8px -> 1.04cqw (768px container) */
  }

  .favorites__card {
    width: 44.59cqw;
    height: 18.36cqw; /* 141px -> 18.36cqw (768px container) */
    padding: 2.08cqw;
    border-radius: 1.95cqw;

    grid-template-columns: 9.9cqw auto auto;
  }
}

@media (min-width: 769px) {
  .favorites-saved {
    width: 57.36cqw; /* 826px -> 57.36cqw (1440px container) */
    margin-top: 11.52cqw;
    margin-bottom: 4.38cqw;
    max-height: 33.82cqw; /* 487px -> 33.82cqw (1440px container) */
    overflow: auto;
    scrollbar-width: 0.56cqw; /* 8px -> 0.56cqw (1440px container) */
    scrollbar-color: var(--main-color-dark);

    gap: 1.01cqw; /* 16px -> 1.11cqw (1440px container) */
  }

  .favorites-saved::-webkit-scrollbar {
    width: 0.56cqw; /* 8px -> 0.56cqw (1440px container) */
  }

  .favorites-saved::-webkit-scrollbar-thumb {
    background-color: var(--main-color-dark);
    border-radius: 0.83cqw; /* 12px -> 0.83cqw (1440px container) */
  }

  .favorites-saved__p {
    font-size: 0.97cqw; /* 14px -> 0.97cqw (1440px container) */
    line-height: 1.25cqw; /* 18px -> 1.25cqw (1440px container) */
    margin-top: 9.17cqw; /* 132px -> 9.17cqw (1440px container) */
    margin-bottom: 12.99cqw; /* 187px -> 12.99cqw (1440px container) */
    margin: 9.17cqw 7.43cqw 12.99cqw; /* 132px 107px 187px (1440px container) */
  }

  .favorites__remove {
    width: 0.83cqw; /* 12px -> 0.83cqw (1440px container) */
    margin-top: 0.42cqw; /* 6px -> 0.42cqw (1440px container) */
    margin-left: 0.56cqw; /* 8px -> 0.56cqw (1440px container) */
  }

  .favorites__card {
    width: 27.53cqw;
    height: 9.79cqw; /* 141px -> 9.79cqw (1440px container) */
    padding: 1.11cqw;
    border-radius: 1.04cqw;

    grid-template-columns: 5.28cqw auto auto;
  }
}
