.footer {
  background-color: rgba(36, 36, 36, 1);
}

.footer__container {
  padding-top: 10.9vw; /* 40px -> 10.90vw */
  display: grid;
  grid-template-columns: 2;
  max-width: 367px;
}

.footer__grid-item {
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer__logo {
  width: 35.97vw; /* 132px -> 35.97vw */
  height: 6.54vw; /* 24px -> 6.54vw */
  margin-bottom: 5.45vw; /* 20px -> 5.45vw */
}

.footer__socials {
  margin-bottom: 10.9vw; /* 40px -> 10.90vw */
}

.footer__header {
  display: block;
  width: 100%;
  margin-bottom: 5.45vw; /* 20px -> 5.45vw */
  font-size: 10.35vw; /* 38px -> 10.35vw */
  line-height: 11.99vw; /* 44px -> 11.99vw */
}

.footer__subscribe {
  margin-bottom: 32.7vw; /* 120px -> 32.70vw */
  display: flex;
  flex-direction: column;
  gap: 5.45vw; /* 20px -> 5.45vw */
}

.footer__subscribe-element {
  border-radius: 8.17vw; /* 30px -> 8.17vw */
  padding: 3.27vw; /* 12px -> 3.27vw */
  border: 1px solid var(--main-color-light);
}

.footer__subscribe-email {
  background-color: transparent;
  color: var(--side-color-light);
}

.footer__subscribe-btn {
  color: var(--main-color-dark);
}

.footer__rights {
  margin-bottom: 10px;
}

.footer__policy {
  grid-column: 1;
}

.footer__year {
  grid-column: 2;
  justify-self: end;
}

@media (min-width: 368px) {
  .footer__container {
    grid-template-columns: 1fr 55vw;
    padding-top: 8.33vw; /* 64px -> 8.33vw */
    max-width: 100vw; /* 768px -> 100vw */
  }

  .footer__logo {
    width: 17.19vw; /* 132px -> 17.19vw */
    height: 3.13vw; /* 24px -> 3.13vw */
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .footer__socials {
    grid-row-start: 2;
  }

  .footer__header {
    width: auto;
    font-size: 7.29vw; /* 56px -> 7.29vw */
    line-height: 7.81vw; /* 60px -> 7.81vw */
    letter-spacing: -2%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-bottom: 4.17vw; /* 32px -> 4.17vw */
  }

  .footer__subscribe {
    grid-column-start: 2;
    gap: 2.6vw; /* 20px -> 2.60vw */
    width: 85%;
    margin-bottom: 8.33vw; /* 64px -> 8.33vw */
  }

  .footer__subscribe-p {
    font-size: 2.34vw; /* 18px -> 2.34vw */
    line-height: 3.13vw; /* 24px -> 3.13vw */
  }

  .footer__subscribe-element {
    border-radius: 3.91vw; /* 30px -> 3.91vw */
    font-size: 2.08vw; /* 16px -> 2.08vw */
    line-height: 3.13vw; /* 24px -> 3.13vw */
    padding: 1.56vw; /* 12px -> 1.56vw */
  }

  .footer__rights {
    grid-row: 4;
    grid-column: 1;
  }

  .footer__policy {
    grid-row: 4;
    grid-column: 2;
  }

  .footer__year {
    grid-row: 4;
    grid-column: 2;
  }
}
