.footer {
  background-color: rgba(36, 36, 36, 1);
}

.footer__container {
  padding-top: 10.9cqw; /* 40px -> 10.90cqw */
  display: grid;
  grid-template-columns: 2;
  max-width: 367px;
  container-type: inline-size;
}

.footer__grid-item {
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer__logo {
  width: 35.97cqw; /* 132px -> 35.97cqw */
  height: 6.54cqw; /* 24px -> 6.54cqw */
  margin-bottom: 5.45cqw; /* 20px -> 5.45cqw */
}

.footer__socials {
  margin-bottom: 10.9cqw; /* 40px -> 10.90cqw */
}

.footer__header {
  display: block;
  width: 100%;
  margin-bottom: 5.45cqw; /* 20px -> 5.45cqw */
  font-size: 10.35cqw; /* 38px -> 10.35cqw */
  line-height: 11.99cqw; /* 44px -> 11.99cqw */
}

.footer__subscribe {
  margin-bottom: 32.7cqw; /* 120px -> 32.70cqw */
  display: flex;
  flex-direction: column;
  gap: 5.45cqw; /* 20px -> 5.45cqw */
}

.footer__subscribe-element {
  border-radius: 8.17cqw; /* 30px -> 8.17cqw */
  padding: 3.27cqw; /* 12px -> 3.27cqw */
  border: 1px solid var(--main-color-light);
}

.footer__subscribe-email {
  background-color: transparent;
  color: var(--side-color-light);
}

.footer__subscribe-btn {
  color: var(--main-color-dark);
}

.footer__rights {
  margin-bottom: 10px;
}

.footer__policy {
  grid-column: 1;
}

.footer__year {
  grid-column: 2;
  justify-self: end;
}

@media (min-width: 368px) {
  .footer__container {
    grid-template-columns: 1fr 55cqw;
    padding-top: 8.33cqw; /* 64px -> 8.33cqw */
    max-width: 768px;
  }

  .footer__logo {
    width: 17.19cqw; /* 132px -> 17.19cqw */
    height: 3.13cqw; /* 24px -> 3.13cqw */
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .footer__socials {
    grid-row-start: 2;
  }

  .footer__header {
    width: auto;
    font-size: 7.29cqw; /* 56px -> 7.29cqw */
    line-height: 7.81cqw; /* 60px -> 7.81cqw */
    letter-spacing: -2%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-bottom: 4.17cqw; /* 32px -> 4.17cqw */
  }

  .footer__subscribe {
    grid-column-start: 2;
    gap: 2.6cqw; /* 20px -> 2.60cqw */
    width: 85%;
    margin-bottom: 8.33cqw; /* 64px -> 8.33cqw */
  }

  .footer__subscribe-p {
    font-size: 2.34cqw; /* 18px -> 2.34cqw */
    line-height: 3.13cqw; /* 24px -> 3.13cqw */
  }

  .footer__subscribe-element {
    border-radius: 3.91cqw; /* 30px -> 3.91cqw */
    font-size: 2.08cqw; /* 16px -> 2.08cqw */
    line-height: 3.13cqw; /* 24px -> 3.13cqw */
    padding: 1.56cqw; /* 12px -> 1.56cqw */
  }

  .footer__rights {
    grid-row: 4;
    grid-column: 1;
  }

  .footer__policy {
    grid-row: 4;
    grid-column: 2;
  }

  .footer__year {
    grid-row: 4;
    grid-column: 2;
  }
}

@media (min-width: 769px) {
  .footer__container {
    padding-top: 4.44cqw;
    padding-bottom: 1.11cqw;
    max-width: 1440px;

    grid-template-columns: 1fr 41.39cqw 24.44cqw;
    gap: 2.22cqw 7.5cqw;
  }

  .footer__logo {
    width: 9.17cqw;
    height: 1.67cqw;
    margin-bottom: unset;

    grid-row: 1;
    grid-column: 1;
  }

  .footer__socials {
    grid-row: 2;
    grid-column: 1;
  }

  .footer__header {
    width: auto;
    font-size: 3.89cqw;
    line-height: 4.17cqw;
    margin-bottom: unset;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
  }

  .footer__subscribe {
    gap: 1.39cqw;
    width: 100%;
    margin-bottom: unset;
    justify-self: end;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 3;
  }

  .footer__subscribe-p {
    font-size: 1.25cqw;
    line-height: 1.67cqw;
  }

  .footer__subscribe-element {
    border-radius: 2.08cqw;
    font-size: 1.11cqw;
    line-height: 1.67cqw;
    padding: 0.83cqw;
  }

  .footer__rights {
    margin-bottom: unset;

    grid-row: 3;
    grid-column: 1;
  }

  .footer__policy {
    grid-row: 3;
    grid-column: 2;
  }

  .footer__year {
    justify-self: start;

    grid-row: 3;
    grid-column: 3;
  }
}
