.footer {
  background-color: rgba(36, 36, 36, 1);
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer__grid-item {
}

.footer__logo {
  width: 132px;
  margin-bottom: 20px;
}

.footer__socials {
}

.footer__top {
  margin-bottom: 40px;
}

.footer__central {
  margin-bottom: 120px;
}

.footer__header {
  font-weight: 400;
  font-size: 38px;
  line-height: 116%;
  letter-spacing: -0.02em;
  color: #f4f4f4;
  margin-bottom: 20px;
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__subscribe-element {
  border: 1px solid var(--main-color-light);
  border-radius: 30px;
  padding: 12px 14px;
  height: 42px;
  box-sizing: border-box;
}

.footer__subscribe-email {
  background-color: transparent;
  color: var(--side-color-light);
}

.footer__subscribe-btn {
  color: var(--main-color-dark);
}

.footer__legals {
  display: grid;
  gap: 10px;
}

.footer__rights {
  grid-row: 1;
  grid-column: 1;
}

.footer__policy {
  grid-row: 2;
  grid-column: 1;
}

.footer__year {
  grid-row: 2;
  grid-column: 2;
  justify-self: right;
}

@media (min-width: 768px) {
  .footer__container {
    display: grid;
  }

  .footer__top {
    margin-right: 114px;

    grid-row: 1;
    grid-column: 1;
  }

  .footer__central {
    grid-row: 1;
    grid-column: 2;
  }

  .footer__legals {
    grid-template-columns: 260px 1fr 1fr;

    grid-column: span 2;
  }

  .footer__logo {
  }

  .footer__socials {
  }

  .footer__header {
    font-size: 56px;
    line-height: 107%;
    width: 434px;
  }

  .footer__subscribe {
  }

  .footer__subscribe-p {
    font-size: 18px;
  }

  .footer__subscribe-element {
  }

  .footer__rights {
  }

  .footer__policy {
    grid-column: 2;
    grid-row: 1;
  }

  .footer__year {
    grid-row: 1;
    grid-column: 3;
  }
}

@media (min-width: 1440px) {
  .footer__container {
    padding-top: 64px;
    padding-bottom: 16px;
  }

  .footer__top {
    margin-right: 158px;
  }

  .footer__central {
    display: flex;
    gap: 115px;
  }

  .footer__legals {
    grid-template-columns: 314px auto 352px;
    gap: unset;
  }

  .footer__logo {
  }

  .footer__socials {
  }

  .footer__header {
    font-size: 56px;
    line-height: 107%;
    width: 595px;
  }

  .footer__subscribe {
    width: 352px;
  }

  .footer__subscribe-element {
  }

  .footer__rights {
  }

  .footer__policy {
  }

  .footer__year {
    justify-self: left;
  }
}
