.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header__icon {
  width: 32px;
}

.header__logo {
  width: 132px;
  height: 14px;
}

.header__menu-btn {
  border: none;
}
