.hero {
  color: var(--main-color-dark);
}

.hero__container {
  padding: 80px 0 0;
  display: grid;
  gap: 20px;
}

.hero__header {
  position: relative;
}

.hero__header-h1 {
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -2%;
}

.hero__header-h1::before {
  content: '';
  background-image: url(../img/sun.png);
  display: inline-block;
  width: 38px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__p {
  letter-spacing: -2%;
}

.hero__image {
  width: 100%;
}

.hero__hashtags {
  display: flex;
  justify-content: space-between;
}

.hero__hashtag-item {
  border: 1px solid var(--main-color-dark);
  border-radius: 30px;
  padding: 4px 12px;
}
