.hero {
  color: var(--main-color-dark);
}

.hero__container {
  padding: 21.8cqw 0 0; /* 80px -> 21.80cqw */
  display: grid;
  gap: 5.45cqw; /* 20px -> 5.45cqw */
}

.hero__header {
  position: relative;
}

.hero__header-h1 {
  font-size: 10.35cqw; /* 38px -> 10.35cqw */
  line-height: 11.99cqw; /* 44px -> 11.99cqw */
  letter-spacing: -2%;
}

.hero__header-h1::before {
  content: '';
  background-image: url(../img/sun.png);
  display: inline-block;
  width: 10.35cqw; /* 38px -> 10.35cqw */
  height: 10.35cqw; /* 38px -> 10.35cqw */
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__p {
  letter-spacing: -2%;
}

.hero__image {
  width: 100%;
  border-radius: 30px;
  aspect-ratio: 1 / 1.73;
  object-fit: cover;
}

.hero__hashtags {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 4px;
}

.hero__hashtag-item {
  border: 0.27cqw solid var(--main-color-dark); /* 1px -> 0.27cqw */
  border-radius: 8.17cqw; /* 30px -> 8.17cqw */
  padding: 0.9cqw 3.17cqw; /* 4px -> 1.09cqw, 12px -> 3.27cqw */
}

@media (min-width: 368px) {
  .hero__container {
    padding-top: 13.02cqw; /* 100px -> 13.02cqw (base 768px) */
    gap: 2.08cqw; /* 16px -> 2.08cqw */
  }

  .hero__header-h1 {
    font-size: 9.64cqw; /* 74px -> 9.64cqw */
    line-height: 9.64cqw; /* 74px -> 9.64cqw */
    width: 83.2cqw; /* 639px -> 83.20cqw */
  }

  .hero__header-h1::before {
    width: 7.68cqw; /* 59px -> 7.68cqw */
    height: 7.68cqw; /* 59px -> 7.68cqw */
  }

  .hero__p {
    font-size: 2.34cqw; /* 18px -> 2.34cqw */
    line-height: 3.13cqw; /* 24px -> 3.13cqw */
    width: 68.75cqw; /* 528px -> 68.75cqw */
    margin-bottom: 1.56cqw; /* 12px -> 1.56cqw */
  }

  .hero__image {
    width: 100%;
    border-radius: 7.81cqw; /* 60px -> 7.81cqw */
    aspect-ratio: 1.28 / 1;
  }

  .hero__hashtags {
    font-size: 2.08cqw; /* 16px -> 2.08cqw */
    line-height: 3.13cqw; /* 24px -> 3.13cqw */

    justify-content: end;
    gap: 1.04cqw; /* 8px -> 1.04cqw */
  }
}
