.main-menu {
  align-self: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4.36cqw; /* 16px -> 4.36cqw */
  align-items: center;
}

.header__menu-wrapper {
  display: none;
}

@media (min-width: 368px) {
  .main-menu {
    background-color: var(--main-color-dark);
    flex-direction: row;
    border-radius: 7.81cqw; /* 60px -> 7.81cqw */
    padding: 1.04cqw 4.43cqw; /* 8px -> 1.04cqw, 34px -> 4.43cqw */
    font-size: 2.08cqw; /* 16px -> 2.08cqw */
    line-height: 3.13cqw; /* 24px -> 3.13cqw */
  }

  .main-menu__tab--current {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    padding: 0.78cqw 1.56cqw; /* 6px -> 0.78cqw, 12px -> 1.56cqw */
    border-radius: 3.91cqw; /* 30px -> 3.91cqw */
  }

  .header__menu-wrapper {
    display: block;
  }

  .header__menu-btn {
    display: none;
  }
}

@media (min-width: 769px) {
  .main-menu {
    border-radius: 4.17cqw;
    padding: 0.56cqw 3.47cqw;
    gap: 1.25cqw;
    font-size: 1.11cqw;
    line-height: 1.67cqw;
  }

  .main-menu__tab--current {
    padding: 0.42cqw 0.83cqw;
    border-radius: 2.08cqw;
  }
}
