.mobile-menu--big-wv {
  display: none;
}

.mobile-menu {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-dark);
  display: flex;
  flex-direction: column;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 5.45vw; /* 20px -> 5.45vw */
  right: 5.45vw; /* 20px -> 5.45vw */
  background-color: transparent;
  padding: 0;
  border: none;
}

.mobile-menu__socials {
  position: absolute;
  bottom: 5.45vw; /* 20px -> 5.45vw */
  align-self: center;
}
