.mobile-menu {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-dark);
  display: flex;
  flex-direction: column;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.mobile-menu__menu {
  align-self: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.mobile-menu__socials {
  position: absolute;
  bottom: 20px;
  align-self: center;
}
