.pop-up {
  margin: 0 20px 0;
  padding: 40px 20px;
  background-color: var(--main-color-dark);
  border-radius: 20px;
  box-sizing: border-box;

  max-height: calc(100vh - 20px);

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  position: relative;
}

.pop-up__close-btn {
  width: 24px;
  height: 24px;
  background: url(../img/close.svg), transparent;
  background-size: cover;
  padding: 0;
  border: none;

  position: absolute;
  top: 14px;
  right: 14px;
}

.pop-up__close-btn-img {
  width: 24px;
}

.pop-up__img-wrapper {
  margin: 0 auto;
  height: 258px;
  width: 100%;
  max-width: 295px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 12px;
}

.pop-up__img {
  width: 100%;
  max-width: 295px;

  object-fit: contain;
}

.pop-up__info-wrapper {
  max-width: 295px;
  margin: 0 auto;
}

.pop-up__h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.pop-up__grade {
  font-size: 12px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.pop-up__grade-star {
  width: 18px;
}

.pop-up__metrics {
  padding: 10px 0;
  border: 1px solid rgba(244, 244, 244, 0.2);
  border-width: 1px 0;
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pop-up__metrics-h3 {
  font-size: 12px;
  color: rgba(244, 244, 244, 0.4);
}

.pop-up__metrics-p {
  font-weight: 500;
  font-size: 14;
  line-height: 129%;
}

.pop-up__summary {
  font-size: 12px;
  color: var(--side-color-light);
  margin-bottom: 40px;
}

.pop-up__btn {
  width: 100%;
  border: 1px solid var(--main-color-light);
  border-radius: 30px;
  background-color: transparent;
  color: var(--main-color-light);
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pop-up__btn-fav {
  background-color: var(--main-color-light);
  color: var(--main-color-dark);
  margin-bottom: 10px;
}

.pop-up__btn-fav-img {
  width: 20px;
}

/* Rating */

.pop-up__rating-label {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
  color: rgba(244, 244, 244, 0.4);
}

.pop-up__grade-star-rating {
  width: 24px;
}

.pop-up__rating-form-item {
  width: 295px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  color: var(--side-color-light);
  border-radius: 30px;
  padding: 12px 14px;
  border: 1px solid var(--main-color-light);
  background-color: transparent;
}

.pop-up__rating-email {
  margin-bottom: 10px;
}

.pop-up__rating-text {
  margin-bottom: 20px;
  height: 93px;
  border-radius: 15px;
  resize: none;
}

.pop-up__rating-btn {
  background-color: var(--main-color-light);
  color: var(--main-color-dark);
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .pop-up {
    max-width: 704px;
  }

  .pop-up__info-wrapper {
    width: 338px;
  }

  .pop-up__main-content-wrapper {
    display: flex;
    gap: 32px;
  }

  .pop-up__close-btn {
  }

  .pop-up__close-btn-img {
  }

  .pop-up__img-wrapper {
  }

  .pop-up__img {
  }

  .pop-up__info-wrapper {
  }

  .pop-up__h2 {
  }

  .pop-up__grade {
  }

  .pop-up__grade-star {
  }

  .pop-up__metrics {
  }

  .pop-up__metrics-h3 {
  }

  .pop-up__metrics-p {
  }

  .pop-up__summary {
  }

  .pop-up__btn-wrapper {
    display: flex;
    gap: 7px;
  }

  .pop-up__btn {
    height: 48px;
  }

  .pop-up__btn-fav {
  }

  .pop-up__btn-fav-img {
  }

  /* Rating */

  .pop-up__rating-label {
  }

  .pop-up__grade-star-rating {
  }

  .pop-up__rating-form-item {
    width: 350px;
  }

  .pop-up__rating-email {
  }

  .pop-up__rating-text {
  }
}

@media (min-width: 1440px) {
  .pop-up {
  }

  .pop-up__main-content-wrapper {
  }

  .pop-up__close-btn {
  }

  .pop-up__close-btn-img {
  }

  .pop-up__img-wrapper {
  }

  .pop-up__img {
  }

  .pop-up__h2 {
  }

  .pop-up__grade {
  }

  .pop-up__grade-star {
  }

  .pop-up__metrics {
  }

  .pop-up__metrics-h3 {
  }

  .pop-up__metrics-p {
  }

  .pop-up__summary {
  }

  .pop-up__btn-wrapper {
  }

  .pop-up__btn {
  }

  .pop-up__btn-fav {
  }

  .pop-up__btn-fav-img {
  }

  /* Rating */

  .pop-up__rating-label {
  }

  .pop-up__grade-star-rating {
  }

  .pop-up__rating-form-item {
  }

  .pop-up__rating-email {
  }

  .pop-up__rating-text {
  }
}
