.socials {
  width: 39.24cqw; /* 144px -> 39.24cqw */
  display: flex;
  justify-content: space-between;
}

.socials-item {
  width: 10.9cqw; /* 40px -> 10.90cqw */
  height: 10.9cqw; /* 40px -> 10.90cqw */
  border: 0.27cqw solid rgba(244, 244, 244, 0.1); /* 1px -> 0.27cqw */
  border-radius: 2.72cqw; /* 10px -> 2.72cqw */
  display: flex;
  align-items: center;
  justify-content: center;
  container-type: inline-size;
}

.socials-item-img {
  width: 64cqw;
}

@media (min-width: 368px) {
  .socials {
    width: 20.31cqw; /* 156px -> 20.31cqw */
  }

  .socials-item {
    width: 5.73cqw; /* 44px -> 5.73cqw */
    height: 5.73cqw; /* 44px -> 5.73cqw */
    border-radius: 1.3cqw; /* 10px -> 1.30cqw */
    border-width: 0.13cqw; /* 1px -> 0.13cqw */
  }

  .header__socials .socials-item {
    filter: invert(1);
  }
}

@media (min-width: 769px) {
  .socials {
    width: 10.83cqw;
  }

  .socials-item {
    width: 3.06cqw;
    height: 3.06cqw;
    border-radius: 0.69cqw;
    border-width: 0.07cqw;
  }
}
