/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
/* @import url('./container.css');
@import url('./animations.css'); */

/* Sections style */
@import url('./pop-up.css');
@import url('./mobile-menu.css');
@import url('./main-menu.css');
@import url('./socials.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./exercises.css');
@import url('./exercises-workout.css');
@import url('./aside.css');
@import url('./footer.css');
